

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    /* background-image: url("../../assets/hero1.webp"); */
    color: #fff;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.3);
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

}

#video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}