

.card img{
    width: 100%;
    height: 100%;
}

.card{
    position: relative;

}

.card-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.3);
}

.card p{
    color:#fff;
    font-size: 2rem;
    position: absolute;
    bottom:0.5em;
    left: 0.5em;
    font-weight: 500;

}