

.card-img .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding-top: 3em;

}

@media screen and (max-width:940px) {
    .card-img .container{
        grid-template-columns: 1fr;
    }    
    
}